[user]
	name = Paul Duke
  email=paul@morethanmiltoncan.com

[color]
  ui=auto
[status]
  showuntrackedfiles=no

[core]
  repositoryformatversion=0
  filemode=true
  bare=false
  logallrefupdates=true
  autocrlf=false
[push]
	default = simple
