[user]
  name = Paul Duke
  email=mountainmanduke@gmail.com

[color]
  ui=auto
[status]
  showuntrackedfiles=no

[core]
  repositoryformatversion=0
  filemode=true
  bare=false
  logallrefupdates=true
  autocrlf=false
[push]
	default = simple
[credential]
	helper = cache
